.container {
  display: flex;
}

.container.vertical {
  flex-direction: column;
}

.content {
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}

.content.inverse {
  justify-content: flex-end;
}

.content.scrollable {
  overflow: hidden;
}

.dropdownListContainer {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.dropdownList {
  display: flex;
}

.dropdownList.temp {
  position: fixed;
  visibility: hidden;
}

.dropdownList.vertical {
  flex-direction: column;
}

.dropdownIcon {
  cursor: pointer;
  position: relative;
}
.dropdownIcon > * {
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.defaultItem {
  min-width: 120px;
  cursor: pointer;
}
