$material-symbols-font-path: "~material-symbols/";
@import "~material-symbols";

.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
  font-size: var(--ax-material-icon-fnsz, 24px);
  font-variation-settings: "FILL" var(--ax-material-icon-fill, 0),
    "wght" var(--ax-material-icon-wght, 400),
    "GRAD" var(--ax-material-icon-grad, 0),
    "opsz" var(--ax-material-icon-opsz, 24);
}
