.tree {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  outline: none;
  overflow: hidden;
  max-height: 100%;
}
.tree.loading {
  opacity: 0.5;
}

.header {
  display: flex;
  background-color: var(--bs-table-bg);
  border-bottom: 1px solid var(--bs-table-border-color);
  border-top: 1px solid var(--bs-table-border-color);
}

.headerColumn {
  font-weight: 600;
  border-right: thin solid rgba(0, 0, 0, 0.15);
}
.headerColumn:last-child {
  border-right: none;
}

.body {
  min-height: 240px;
  flex-grow: 1;
  overflow: auto;
  max-height: min-content;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.35rem;
  overflow: hidden;
  font-size: 0.875rem;
}
.column.edit {
  z-index: 1;
}
.column .indent {
  line-height: normal;
}

.columnSortIcon {
  display: flex;
  margin-left: 0.25rem;
}

.node {
  cursor: default;
  display: flex;
  min-height: 1rem;
  align-items: center;
}
.nodeText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.node.selected {
  background: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}
.node.hover {
  background: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}
.node.edit {
  z-index: 1;
}

.nodeContent {
  display: flex;
  flex: 1;
}
.icon {
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.24rem;
  display: inline-flex;
}
