stages:
  - build
  - publish
    
cache: &global_cache
  key: $CI_COMMIT_REF_SLUG
  paths:
    - node_modules
  policy: pull-push

build_package:
  stage: build
  image: node:22.17-bullseye
  cache:
    <<: *global_cache
  artifacts:
    expire_in: 1 days
    paths:
      - dist
  only:
    - tags
  before_script:
    - corepack enable pnpm
  script:
    - pnpm install
    - pnpm build
      
publish_to_npm:
  stage: publish
  image: node:22.17-bullseye
  cache:
    <<: *global_cache
    policy: pull
  dependencies:
    - build_package
  only:
    - tags
  script:
    - npm config set -- '//registry.npmjs.org/:_authToken' "${NPMJS_TOKEN}"
    - NPM_TAG=$(node scripts/get-tag.js)
    - (cd dist && npm publish --access public --tag $NPM_TAG)