.divider {
  margin: 0.25rem 0;
  width: 100% !important;
  height: 1px !important;
  background-color: currentColor;
  opacity: 0.175;
}
.divider.vertical {
  margin: 0 0.25rem;
  width: 1px !important;
  height: 100% !important;
  flex-shrink: 0;
  align-self: stretch;
}
