$spacing: 0.25rem;

$size: 1rem;
$wrapperSpacing: $spacing * 2;
$iconSpacing: $spacing;

.menu {
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
}

.menu {
  margin-top: 4px !important;
  box-shadow: var(--bs-dropdown-box-shadow) !important;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color) !important;
  border-radius: var(--bs-dropdown-border-radius) !important;
  background-color: var(--bs-body-bg) !important;
}

.menuList {
  background-color: var(--bs-body-bg) !important;
  border-radius: var(--bs-dropdown-border-radius) !important;
}

.group,
.groupHeading,
.option {
  color: var(--bs-dropdown-link-color) !important;
  background-color: transparent !important;
}

.optionFocus,
.option:focus,
.option:hover {
  color: var(--bs-dropdown-link-hover-color) !important;
  background-color: var(--bs-dropdown-link-hover-bg) !important;
}

.option:active {
  color: var(--bs-dropdown-link-active-color) !important;
  background-color: var(--bs-dropdown-link-active-bg) !important;
}

.input {
  color: var(--bs-body) !important;
}

.control {
  background-color: var(--bs-body-bg) !important;
  border-color: var(--bs-border-color) !important;
  color: var(--bs-body-color) !important;
}

.multiValue {
  background-color: var(--bs-secondary-bg) !important;
}

.multiValue,
.singleValue {
  &,
  > * {
    color: var(--bs-body-color) !important;
  }
}

.multiValue [role="button"]:hover {
  background-color: rgba(var(--bs-danger-rgb), 0.15);
}

.placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  & > span {
    cursor: pointer;
    margin: 0 0.1rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

.control:focus,
.control:focus-within {
  --bs-border-color: #86b7fe;
  border: var(--bs-input-border-focus, 1px solid var(--bs-border-color));
  box-shadow: var(
    --bs-input-shadow-focus,
    0 0 0 0.25rem rgba(13, 110, 254, 0.25)
  );
}

.invalid {
  border-color: var(--bs-danger) !important;
}

.invalid:focus,
.invalid:focus-within,
.invalidFocus {
  box-shadow: 0 0 0 0.25rem rgb(var(--bs-danger-rgb), 0.25) !important;
}

@for $i from 1 through 4 {
  .icons-#{$i} {
    input {
      padding-right: (($size + ($iconSpacing * 2)) * $i);
    }
  }

  [dir="rtl"] .icons-#{$i} {
    input {
      padding-left: (($size + ($iconSpacing * 2)) * $i);
    }
  }
}
