$spacing: 0.25rem;

$size: 1rem;
$wrapperSpacing: $spacing * 2;
$iconSpacing: $spacing;

.menu {
  margin-top: 4px !important;
}

.control {
  border-color: var(--bs-border-color) !important;
}

.placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  & > span {
    cursor: pointer;
    margin: 0 0.1rem;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}

@for $i from 1 through 4 {
  .icons-#{$i} {
    input {
      padding-right: (($size + ($iconSpacing * 2)) * $i);
    }
  }

  [dir="rtl"] .icons-#{$i} {
    input {
      padding-left: (($size + ($iconSpacing * 2)) * $i);
    }
  }
}
