.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  user-select: none;
  flex: 1;
  position: relative;
  outline: none;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-th-bg: var(--bs-body-bg);
}

.resizingColumns,
.focusElement {
  cursor: pointer;
}

.dragElement {
  opacity: 1;
  &.dragging {
    opacity: 0.8;
  }
}

.body {
  flex: 1;
  width: fit-content;
}

.row {
  display: flex;
  cursor: pointer;
  &.selected {
    background: var(--bs-table-active-bg);
    color: var(--bs-table-active-color);
  }
}

.body .row:hover {
  background: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.header {
  width: fit-content;
  color: var(--bs-table-th-color);
  background-color: var(--bs-table-th-bg);
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    &.shadow {
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -2px rgb(0 0 0 / 10%);
    }
  }
}

.container.no-columns .header {
  width: 100%;
  & .row {
    min-height: 2rem;
  }
}

.footer {
  width: fit-content;
  min-width: 100%;
  border: 1px solid var(--bs-table-border-color);
  border-left: none;
  border-right: none;
  &.sticky {
    position: sticky;
    bottom: 0;
  }
}

.header .column {
  display: flex;
  align-items: center;
  position: relative;
}
.header .column,
.footerRow .column {
  font-weight: var(--bs-table-th-font-weight);
}

.container:not(.no-columns):not(.rtl)
  .header.options
  .column:last-child:not(.action) {
  padding-right: 1.5rem !important;
}
.container.rtl:not(.no-columns)
  .header.options
  .column:last-child:not(.action) {
  padding-left: 1.5rem !important;
}

.column {
  &.selected {
    position: relative;
    & > * {
      &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
  &.center {
    display: flex;
    justify-content: center;
  }
}

.dragColumn {
  flex: 1;
  overflow: hidden;
}

.headerColumnTitle {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.center {
    justify-content: center;
  }
  & input {
    margin: 0;
  }
  &.resizable {
    max-width: calc(100% - 0.5rem);
  }
}

.headerMenuItem:active {
  background: transparent;
}

.header .row:first-child .column::before {
  content: ' ';
  width: 2px;
  height: 100%;
  background-color: var(--bs-table-border-color);
  position: absolute;
  left: -1px;
  opacity: 0.5;
}

.columnResizer {
  width: 0.5rem;
  height: 100%;
  cursor: col-resize;
  display: flex;
  justify-content: flex-end;
  position: absolute;

  right: 0;

  & hr {
    border-left: 1px solid var(--bs-table-border-color) !important;
    margin: 0 !important;
    opacity: 0.5;
  }

  &.fixed {
    cursor: pointer;
  }
}

.container.rtl {
  .columnResizer {
    right: unset;
    left: 0;
  }
  .header .row:first-child .column::before {
    left: unset;
    right: -1px;
  }
}

.groupRow {
  color: var(--bs-table-hover-color);
  padding: var(--bs-table-cell-padding);
  min-height: 2rem;
  cursor: pointer;
  font-weight: var(--bs-table-th-font-weight);
}

.groupSpacer {
  width: 12px;
}

.groupRowContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.row .column {
  padding: var(--bs-table-cell-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header .row,
.body .row {
  margin-top: -1px;
  border-top: 1px solid var(--bs-table-border-color);
  border-bottom: 1px solid var(--bs-table-border-color);
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.header {
  border-top: 1px solid var(--bs-table-border-color);
  border-bottom: 1px solid var(--bs-table-border-color);
}

.header .searchRow {
  margin-top: 0;
  .column {
    padding: 0;
  }
}

.editRow {
  .column {
    padding: var(--bs-table-edit-cell-padding);
  }
}

.container.has-footer .body .row:last-child {
  border-bottom: none;
}
.container:not(.rtl) .header .column:last-child {
  border-right: none;
  flex: 1;
}

.container.rtl .header .column:first-child {
  border-right: none;
  flex: 1;
}

.drag-over-current {
  background: var(--bs-table-hover-bg) !important;
}

.groupTagContainer {
  padding: 0.25rem;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.groupTagWrapper {
  display: inline-flex !important;
  align-items: center;
}

.groupTag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;
}

.groupTagTitle {
  user-select: none;
  cursor: inherit;
}

.container.no-records {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .body {
    flex: 1;
    justify-content: center;
    display: flex;
    width: 100%;
    line-height: 2rem;
  }
}

.container.no-records:not(.has-add-new) .body {
  align-items: center;
}

.addNewText {
  cursor: pointer;
  padding-left: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  .rtl & {
    padding-left: 0;
    padding-right: 30px;
  }
}

.noRecordsText {
  color: var(--text-color);
  font-size: 0.9rem;
}

.columnOptions {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0.5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  .rtl & {
    right: unset;
    left: 0;
  }
}

.columnOptionsMenu {
  max-width: 200px;
  max-height: 420px;
  overflow-y: auto;
}

.columnOptionMenuTitle {
  width: 120px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--bs-table-color);
}

.dragColumnArea {
  min-height: 1.25rem;
  width: 100%;
}

.groupPlaceholder {
  opacity: 0.5;
  padding: 0 0.25rem;
}
