.rbc-month-view,
.rbc-time-view,
.rbc-header,
.rbc-header + .rbc-header,
.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-time-content > * + * > *,
.rbc-day-slot .rbc-time-slot,
.rbc-timeslot-group,
.rbc-time-header.rbc-overflowing,
.rbc-time-header-content,
.rbc-time-header.rbc-overflowing,
.rbc-time-content {
  border-color: var(--bs-border-color-translucent);
}

.rbc-off-range-bg {
  background: var(--bs-tertiary-bg);
}

.rbc-today {
  background-color: var(--bs-primary-bg-subtle);
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: var(--bs-primary);
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: var(--bs-primary);
}

.rbc-event:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.5);
}

.rbc-time-column .rbc-timeslot-group:first-child .rbc-time-slot:first-child {
  border-top-color: transparent;
}

.rbc-show-more {
  background-color: transparent;
}

.rbc-overlay {
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  box-shadow: var(--bs-dropdown-box-shadow);
  border-radius: var(--bs-border-radius);
}

.rbc-overlay-header {
  border-color: var(--bs-border-color);
}

.rbc-overlay > * + * {
  margin-top: 0.5rem;
}

.rbc-toolbar button {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color);
  color: var(--bs-body-color);
}

.rbc-toolbar button:focus,
.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-secondary-bg);
  border-color: var(--bs-border-color);
  box-shadow: none;
}
