.btn {
  outline: transparent;
  border: 0;
  border-radius: 0;
  user-select: none;
  box-shadow: none;
}

.active {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}

.active-btn {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.menu {
  outline: transparent;
  border-radius: 0;
  border-color: rgba(0, 0, 0, 0.1);
}
