.board {
  height: inherit;
  width: 100%;
  display: inline-flex;
  background-color: inherit;
}

.column {
  position: relative;
  width: 250px;
}

.record-list {
  padding: 8px;
}

.record {
  background-color: white;
}
