.container {
  overflow: auto;
  user-select: none;
  flex: 1;
  position: relative;
  outline: none;
}

.resizingColumns {
  cursor: pointer;
}
.focusElement {
  cursor: pointer;
}

.dragElement {
  opacity: 1;
}
.dragElement.dragging {
  opacity: 0.8;
}

.body {
  min-width: 100%;
  width: fit-content;
}
.row {
  display: flex;
  cursor: pointer;
}

.row.selected {
  background: #eeeeee;
}

.header {
  background: #fff;
  width: fit-content;
}
.header.sticky {
  position: sticky;
  top: 0;
}
.header.sticky.shadow {
  box-shadow: -3px -1px 9px rgb(0 0 0 / 40%);
}
.container.no-columns .header {
  width: 100%;
}
.container.no-columns .header .row {
  min-height: 32px;
}

.footer {
  background: #fff;
  width: fit-content;
}
.footer.sticky {
  position: sticky;
  bottom: 0;
}

.header .column {
  display: flex;
  align-items: center;
  padding: 0px !important;
  font-weight: 400;
}

.container:not(.no-columns) .header.options .column:last-child {
  padding-right: 1.1rem !important;
}

.column.selected {
  background: #e0e0e0;
}
.column.center {
  display: flex;
  justify-content: center;
}

.dragColumn {
  flex: 1;
  overflow: hidden;
}

.headerColumnTitle {
  padding: 4px;
  flex: 1;
  display: flex;
  align-items: center;
}
.headerColumnTitle span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headerColumnTitle.center {
  justify-content: center;
}
.headerColumnTitle input {
  margin: 0;
}

.headerColumnDropdown {
  width: 16px;
  border-left: 1px solid #eee;
  height: 100%;
  font-size: 12px;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .column:last-child .headerColumnDropdown {
  border-right: 1px solid #eee;
  width: 20px;
  padding-right: 4px;
}
.headerColumnDropdown.hasResize {
  padding-left: 4px;
}

.headerColumnDropdownList > div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.headerColumnDropdownList span {
  margin: 0.15rem 0;
}

.header .column:hover .headerColumnDropdown {
  display: flex;
}
.headerColumnDropdown.show {
  display: flex;
}

.columnResizer {
  width: 5px;
  height: 100%;
  cursor: col-resize;
}

.groupRow {
  background: #f5f5f5;
  padding: 0 4px;
  border-bottom: 1px solid #eee;
  min-height: 30px;
  cursor: pointer;
}

.groupSpacer {
  width: 12px;
}

.groupRowIcon {
  font-size: 16px;
  margin-right: 4px;
}

.groupRowContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.row .column {
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header .row, .body .row {
  border: 1px solid #eee;
  border-top: none;
}
.header .row:first-child {
  border-top: 1px solid #eee;
}
.header .column {
  border-right: 1px solid #eee;
}
.header .column:last-child {
  border-right: none;
}

.container .drag-over-current {
  background: #e0e0e0;
}

.groupArea {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  left: 0;
}

.groupTagContainer {
  padding: 8px;
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
}

.groupTagWrapper {
  display: inline-flex !important;
  margin: 0 5px;
  height: 2em;
  align-items: center;
}

.groupTag {
  border: 1px solid #bdbdbd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #616161;
  cursor: pointer;
  padding-left: 5px;
}

.groupTag svg {
  font-size: 11px;
}

.groupTagIcon {
  margin-right: 2px;
  font-size: 14px;
}

.groupTagTitle {
  user-select: none;
  cursor: inherit;
}

.groupTagRemove {
  margin: 0 5px;
  color: #616161;
}

.groupDumpTag {
  flex: 1;
}

.groupDumpText {
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container.no-records {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container.no-records .body {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
}
.addNewText {
  cursor: pointer;
  padding-left: 1.25rem;
  width: 100%;
}
.columnOptions {
  padding: 0.25rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}