.grow {
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 233ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.growEntering {
  opacity: 1;
  transform: scale(1, 1);
}

.growEntered {
  opacity: 1;
  transform: none;
}

.growExited {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.75, 0.5);
}
