.bar {
  --ax-command-bar-button-bg: transparent;
  --ax-command-bar-button-color: var(--bs-body-color);
  --ax-command-bar-button-border-color: transparent;
  --ax-command-bar-button-hover-bg: rgba(0, 0, 0, 0.1);
  --ax-command-bar-button-hover-color: var(--ax-command-bar-button-color);
  --ax-command-bar-button-hover-border-color: transparent;
  --ax-command-bar-button-active-bg: rgba(0, 0, 0, 0.15);
  --ax-command-bar-button-active-color: var(--ax-command-bar-button-color);
  --ax-command-bar-button-active-border-color: transparent;
  --ax-command-bar-button-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
  --ax-command-bar-menu-border-color: rgba(0, 0, 0, 0.1);
}

.bar {
  display: flex;
}

.itemWrapper {
  display: flex;
}

.item {
  outline: transparent;
  border: 0;
  border-radius: 0;
  user-select: none;
  box-shadow: none;
}

.item:focus-visible {
  box-shadow: none;
}

.item > .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item.split {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.item.open {
  color: var(--ax-command-bar-button-hover-color);
  background-color: var(--ax-command-bar-button-hover-bg);
  border-color: var(--ax-command-bar-button-hover-border-color);
}

.bar > .divider {
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.175);
  margin: 0 0.25rem;
  opacity: 1;
}

.icon {
  line-height: 1;
}

.arrowIcon {
  margin: -0.25rem;
}

.image {
  width: 24px;
  height: 24px;
}

.iconCircle {
  display: flex;
}

.menu {
  border-color: var(--ax-command-bar-menu-border-color);
}

.iconEnd {
  flex-direction: row-reverse;
}

.titleText {
  margin: 0 0.25rem;
}

.menuTexts {
  display: flex;
  flex-direction: column;
  .menuSub {
    font-size: smaller;
    opacity: 0.5;
  }
}

.item {
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-color: var(--ax-command-bar-button-color);
  --bs-btn-bg: var(--ax-command-bar-button-bg);
  --bs-btn-border-color: var(--ax-command-bar-button-border-color);
  --bs-btn-hover-color: var(--ax-command-bar-button-hover-color);
  --bs-btn-hover-bg: var(--ax-command-bar-button-hover-bg);
  --bs-btn-hover-border-color: var(--ax-command-bar-button-hover-border-color);
  --bs-btn-active-color: var(--ax-command-bar-button-active-color);
  --bs-btn-active-bg: var(--ax-command-bar-button-active-bg);
  --bs-btn-active-border-color: var(
    --ax-command-bar-button-active-border-color
  );
  --bs-btn-active-shadow: var(--ax-command-bar-button-active-shadow);
  --bs-btn-disabled-color: var(--ax-command-bar-button-color);
  --bs-btn-disabled-bg: var(--ax-command-bar-button-bg);
  --bs-btn-disabled-border-color: var(--ax-command-bar-button-border-color);
}
