@use "sass:color";
@import "bootstrap/scss/root";

.table,
.table-tree,
.table-grid,
.table-popover {
  // Reset needed for nesting tables
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  // End of reset
  --bs-table-color: var(--ax-theme-table-color, var(--bs-body-color));
  --bs-table-bg: var(--ax-theme-table-bg, var(--bs-body-bg));
  --bs-table-border-color: var(
    --ax-theme-table-border-color,
    var(--bs-border-color)
  );
  --bs-table-accent-bg: var(--ax-theme-table-accent-bg, transparent);
  --bs-table-striped-color: var(
    --ax-theme-table-striped-color,
    var(--bs-table-color)
  );
  --bs-table-striped-bg: var(--ax-theme-table-striped-bg, rgba(0, 0, 0, 0.05));
  --bs-table-active-color: var(
    --ax-theme-table-active-color,
    var(--bs-table-color)
  );
  --bs-table-active-bg: var(--ax-theme-table-active-bg, rgba(0, 0, 0, 0.1));
  --bs-table-hover-color: var(
    --ax-theme-table-hover-color,
    var(--bs-table-color)
  );
  --bs-table-hover-bg: var(--ax-theme-table-hover-bg, rgba(0, 0, 0, 0.075));

  // Custom
  --bs-table-active-cell-color: var(
    --ax-theme-table-active-cell-color,
    var(--bs-table-color)
  );
  --bs-table-active-cell-bg: var(
    --ax-theme-table-active-cell-bg,
    rgba(0, 0, 0, 0.15)
  );

  --bs-table-th-color: var(--ax-theme-table-th-color, var(--bs-table-color));
  --bs-table-th-bg: var(--ax-theme-table-th-bg, var(--bs-table-bg));
  --bs-table-th-font-weight: var(--ax-theme-table-th-font-weight, bold);

  --bs-table-cell-padding: var(--ax-theme-table-cell-padding, 0.625rem 0.5rem);
  --bs-table-cell-active-bg: var(
    --ax-theme-table-cell-active-bg,
    rgba(0, 0, 0, 0.05)
  );
}

.nav-select,
.nav-popper {
  --bs-primary: #{$indigo};
  --bs-nav-link-color: #{$navbar-light-color};
  --bs-nav-link-hover-color: #{$navbar-light-hover-color};
  --bs-nav-link-active-color: #{$navbar-light-active-color};
  --bs-nav-link-transition: #{$nav-link-transition};
}
.nav-select {
  --bs-primary: #6a67ff;
}
