@use "sass:color";
@import "~bootstrap/scss/root";

.table,
.table-tree,
.table-grid,
.table-popover {
  --bs-table-color: #{$table-color};
  --bs-table-bg: #{$table-bg};
  --bs-table-th-color: #{$table-color};
  --bs-table-th-bg: #{$table-bg};
  --bs-table-th-font-weight: bold;
  --bs-table-border-color: #{$table-border-color};
  --bs-table-accent-bg: #{$table-accent-bg};
  --bs-table-striped-color: #{$table-striped-color};
  --bs-table-striped-bg: #{$table-striped-bg};
  --bs-table-active-color: #{$table-active-color};
  --bs-table-active-bg: #{$table-active-bg};
  --bs-table-active-cell-color: #{$table-active-color};
  --bs-table-active-cell-bg: #{rgba($black, 0.05)};
  --bs-table-hover-color: #{$table-hover-color};
  --bs-table-hover-bg: #{$table-hover-bg};
  --bs-table-sm-cell-padding: #{$table-cell-padding-y-sm} #{$table-cell-padding-x-sm};
  --bs-table-edit-cell-padding: #{$table-cell-padding-y} #{$table-cell-padding-x-sm};
  --bs-table-cell-padding: #{$table-cell-padding-y} #{$table-cell-padding-x};
}

.nav-custom-tabs,
.nav-bar,
.nav-select,
.nav-popper {
  --bs-primary: #{$indigo};
  --bs-nav-link-color: #{$navbar-light-color};
  --bs-nav-link-hover-color: #{$navbar-light-hover-color};
  --bs-nav-link-active-color: #{$navbar-light-active-color};
  --bs-nav-link-transition: #{$nav-link-transition};
}
.nav-select {
  --bs-primary: #6a67ff;
}

.nav-custom-tabs {
  --bs-nav-tabs-border-color: #{$nav-tabs-border-color};
  --bs-nav-tabs-bg: #{$gray-100};
  --bs-nav-tabs-hover-bg: #{$gray-200};
}

.gantt {
  --gantt-border-color: #{$table-border-color};
  --gantt-edge-color: #{$orange-500};
  --gantt-line-bg: #8c9eff;
  --gantt-progress-color: #536dfe;
  --gantt-line-color: #fff;
  --gantt-row-active-bg: #{$table-hover-bg};
  --gantt-row-active-color: #{$table-hover-color};
  --gantt-cell-active-bg: #{$table-active-bg};
  --gantt-cell-active-color: #{$table-active-color};
  --gantt-connector-bg: #{$gray-200};
  --gantt-connector-border-color: #{$gray-300};
}

:root {
  --bs-link-color: #6a67ff;
  --bs-link-hover-color: #0300e2;
}
