@use "sass:color";
@import "bootstrap/scss/root";

.table,
.table-tree,
.table-grid,
.table-popover {
  // Reset needed for nesting tables
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  // End of reset
  --bs-table-color: #{$table-color};
  --bs-table-bg: #{$table-bg};
  --bs-table-border-color: #{$table-border-color};
  --bs-table-accent-bg: #{$table-accent-bg};
  --bs-table-striped-color: #{$table-striped-color};
  --bs-table-striped-bg: #{$table-striped-bg};
  --bs-table-active-color: #{$table-active-color};
  --bs-table-active-bg: #{$table-active-bg};
  --bs-table-hover-color: #{$table-hover-color};
  --bs-table-hover-bg: #{$table-hover-bg};

  // Custom
  --bs-table-active-cell-color: #{$table-active-color};
  --bs-table-active-cell-bg: #{rgba($black, 0.05)};

  --bs-table-th-color: #{$table-color};
  --bs-table-th-bg: #{$table-bg};
  --bs-table-th-font-weight: bold;

  --bs-table-cell-padding: #{$table-cell-padding-y} #{$table-cell-padding-x};
}

.nav-custom-tabs,
.nav-bar,
.nav-select,
.nav-popper {
  --bs-primary: #{$indigo};
  --bs-nav-link-color: #{$navbar-light-color};
  --bs-nav-link-hover-color: #{$navbar-light-hover-color};
  --bs-nav-link-active-color: #{$navbar-light-active-color};
  --bs-nav-link-transition: #{$nav-link-transition};
}
.nav-select {
  --bs-primary: #6a67ff;
}

.nav-custom-tabs {
  --bs-nav-tabs-border-color: #{$nav-tabs-border-color};
  --bs-nav-tabs-bg: var(--bs-body-bg);
  --bs-nav-tabs-hover-bg: var(--bs-tertiary-bg);
}
