.root {
  user-select: none;
  width: 100%;
}

.dndWrapper {
  & > div {
    max-width: 100%;
    flex: 1;
    display: flex;
    & > div {
      width: 100%;
      & > div:nth-child(2) {
        width: 100%;
      }
    }
  }
}

.tab {
  outline: none;
  cursor: pointer;
  padding: var(--bs-nav-tabs-padding, 0.75rem);
  position: relative;
  background: var(--bs-nav-tabs-bg);
  transition: background ease-in-out 0.2s;
  border: 1px solid transparent;
  border-bottom: 0;
  border-top-left-radius: var(--bs-nav-border-radius, 0.75rem);
  border-top-right-radius: var(--bs-nav-border-radius, 0.75rem);
  color: var(--bs-nav-active-color);
  &:first-child,
  &:hover,
  &:hover + & {
    color: var(--bs-nav-hover-color);
    & .tabDivider {
      opacity: 0;
    }
  }
  &:hover {
    background: var(--bs-nav-tabs-hover-bg);
    border-color: rgba(0, 0, 0, 0.05);
  }
  &.active {
    z-index: 1;
    background: var(--bs-body-bg) !important;
    border-color: var(--bs-nav-tabs-border-color);
    border-bottom-color: transparent;
  }
}

.tabIcon {
  padding: 0.375rem;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.tabClose {
  cursor: pointer;
  display: inline-flex;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.tabBorder {
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 1px;
  background: inherit;
  width: 100%;
  .rtl & {
    left: unset;
    right: 0;
  }
}
.tabDivider {
  height: 60%;
  border-left: 1px solid var(--bs-nav-tabs-border-color);
  position: absolute;
  left: 0;
  top: 20%;
  transition: opacity ease-in-out 0.2s;
  opacity: 1;
  .rtl & {
    border-left: unset;
    border-right: 1px solid var(--bs-nav-tabs-border-color);
    left: unset;
    right: 0;
  }
}

.tabTitle {
  white-space: nowrap;
  user-select: none;
}

.tabs-divider {
  top: -1px;
  height: 1px;
  border-top: 1px solid var(--bs-nav-tabs-border-color);
  position: relative;
}

.hide {
  position: absolute !important;
  visibility: hidden;
  left: -100px;
}

.tabList {
  padding: 0 0.5rem;
  &.hasScroll {
    padding: 0;
  }
}
