.root,
.menuItemChildren {
  user-select: none;
}

.root > .menu {
  display: flex;
  flex-direction: column;
}

.menu {
  padding-bottom: 0.5rem;
}

.menuItem {
  gap: 0.5rem;
  padding: 0.5rem;
}

.root > .menu > .menuItemWrapper {
  transition: all 0.2s ease-in-out;
  &.active {
    background: var(--bs-tertiary-bg);
  }
}

.root:not(.rtl) > .menu > .menuItemWrapper {
  border-left: 0.25rem solid transparent;
  & > .menuItemChildren {
    padding-left: 0.5rem;
  }
}
.root.rtl > .menu > .menuItemWrapper {
  border-right: 0.25rem solid transparent;
  & > .menuItemChildren {
    padding-right: 0.5rem;
  }
}

.menuItem {
  font-size: 1rem;
  cursor: pointer;
  position: relative;

  &.active .menuItemTitle,
  &.active .menuIcon,
  &:hover .menuItemTitle,
  &:hover .menuIcon {
    color: var(--bs-nav-link-hover-color);
  }

  &.float .menuItemTitle,
  &.float .menuIcon {
    display: none;
  }
}

.menuItemIcon {
  font-size: 1rem;
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 100%;
}

.menuItemTitle {
  color: var(--bs-nav-link-color);
  font-weight: 600;
  transition: var(--bs-nav-link-transition);
  &:hover {
    color: var(--bs-nav-link-hover-color);
  }
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menuItemChildren {
  &.float {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  & .menuItemWrapper {
    & .menuItem {
      font-size: 0.9rem;
    }
  }

  & .menuItemIcon {
    font-size: 0.85rem;
    background-color: transparent !important;
    margin: 0 !important;
    height: 24px;
    width: 24px;
  }

  &.float .menuItemIcon {
    display: none !important;
  }
}

.menuIcon {
  right: 10px;
  transition: all 0.2s ease-in-out;

  .rtl & {
    transform: rotate(180deg);
    right: unset;
    left: 10px;
  }

  &.expand {
    transform: rotate(-90deg);
    .rtl & {
      transform: rotate(270deg);
    }
  }
}

.menuTag {
  position: absolute;
  right: 0.75rem;
  padding-left: 0.65rem;
  padding-right: 0.65rem;

  .rtl & {
    right: unset;
    left: 0.75rem;
  }

  &.hasMenuIcon {
    right: calc(0.75rem + 1rem);
    .rtl & {
      right: unset;
      left: calc(0.75rem + 1rem);
    }
  }
}
