@use "sass:math";

$height: 32px;
$spacing: 0.25rem;
$borderWidth: 2px;

.root {
  overflow: hidden;
}
.root > * > [data-popper-placement] {
  z-index: 1;
}

.list {
  display: flex;
  max-width: 100%;
}

.overflowListItem:not(.overflowMenuItem) {
  min-width: 120px;
  cursor: pointer;
  &:hover {
    color: var(--bs-nav-link-hover-color);
  }
  &.active {
    color: var(--bs-nav-link-active-color);
  }
}

.listItem {
  $offset: calc(-1 * math.div($height, 2));

  color: var(--bs-secondary);
  cursor: pointer;
  display: flex;
  user-select: none;
  margin-left: $spacing * 2;
  margin-right: $spacing * 2;
  font-weight: 600;

  &:first-child {
    .root.rtl & {
      margin-right: 0;
    }
    .root:not(.rtl) & {
      margin-left: 0;
    }
  }
  & a {
    border: $borderWidth solid var(--bs-secondary);
    border-right: none;
    border-left: none;
    display: inline;
    position: relative;
    line-height: $height;
    padding-right: $spacing * 2.5;
    padding-left: $spacing * 7.5;
    white-space: nowrap;
    .rtl & {
      padding-right: $spacing * 5;
      padding-left: $spacing * 2.5;
    }
  }
  &.last {
    padding-right: $spacing * 3;
    .rtl & {
      padding-right: unset;
      padding-left: $spacing * 3;
    }
  }

  &:first-child a {
    padding-left: $spacing * 5;
    padding-right: $spacing * 2.5;
  }

  &:first-child a {
    border-color: var(--bs-secondary);
    .root:not(.rtl) & {
      border-left: $borderWidth solid;
      border-top-left-radius: $spacing;
      border-bottom-left-radius: $spacing;
    }
    .root.rtl & {
      border-right: $borderWidth solid;
      border-top-right-radius: $spacing;
      border-bottom-right-radius: $spacing;
    }
  }

  & a:after,
  & a:before {
    content: "";
    width: $height;
    height: $height;
    position: absolute;
    z-index: 1;
    background: transparent;
    border: $borderWidth solid var(--bs-secondary);
    transform: rotate(45deg);

    .root:not(.rtl) & {
      border-left: none;
      border-bottom: none;
    }
    .root.rtl & {
      border-top: none;
      border-right: none;
    }
  }

  & a:after {
    .root:not(.rtl) & {
      right: calc($offset + $borderWidth * 2);
    }
    .root.rtl & {
      left: calc($offset + $borderWidth * 2);
    }
  }

  & a:before {
    .root:not(.rtl) & {
      left: calc($offset - $borderWidth * 2);
    }
    .root.rtl & {
      right: calc($offset - $borderWidth * 2);
    }
  }
  &:first-child a::before {
    display: none;
  }

  &.active a,
  &.active a:after,
  &.active a:before {
    color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }

  &.dropdown {
    padding: 0;
    height: $height;

    & a {
      padding-right: $spacing * 2;
      padding-left: $spacing * 6;
      &:after {
        display: none;
      }
      .rtl & {
        padding-right: $spacing * 6;
        padding-left: $spacing * 2;
      }
    }

    & svg {
      font-size: 0.85em;
    }

    &.active svg {
      .root:not(.rtl) & {
        margin-left: $spacing;
      }
      .root.rtl & {
        margin-right: $spacing;
      }
    }
  }
}

.dropdown {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-secondary);
  font-size: 1em;
  &.active {
    color: var(--bs-primary);
  }
  .root:not(.rtl) & {
    margin-left: $spacing * 3;
  }
  .rtl & {
    margin-right: $spacing * 3;
  }
}
