.nav {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.accordion,
.buttons {
  display: flex;
  .menus {
    flex-grow: 1;
  }
}

.icons,
.menus {
  display: flex;
  flex-direction: column;
  background-color: var(--bs-body-bg);
}

.icons {
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  width: var(--bs-nav-menu-icons-width, 40px);
}

.menus {
  width: var(--bs-nav-menu-items-width, 260px);
  flex: 1;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 100%;
  background-color: var(
    --bs-nav-menu-icon-bg,
    rgba(var(--bs-secondary-bg-rgb), 0.9)
  );
  color: var(--bs-nav-menu-icon-color, var(--bs-body-color));
  cursor: pointer;

  width: 2rem;
  height: 2rem;

  > * {
    font-size: 1rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: var(--bs-nav-menu-item-radius, 0);

    .text {
      flex-grow: 1;
    }

    .tag {
      margin: 0 0.5rem;
    }

    .expand {
      display: flex;
      align-items: center;
      transform: rotate(-90deg);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      background-color: var(--bs-nav-menu-hover-bg, var(--bs-tertiary-bg));
    }
  }
}

.item.open {
  > .title {
    .expand {
      transform: rotate(0deg);
    }
  }
}

.item .item .icon {
  padding: 0;
  border-radius: 0;
  background-color: transparent !important;
}

.items {
  display: flex;
  flex-direction: column;
}

.menu {
  display: none;
  flex-direction: column;
  flex-grow: 1;

  .header {
    padding: 0.5rem;
    background-color: var(--bs-nav-menu-header-bg, var(--bs-secondary-bg));
    border-radius: var(--bs-nav-menu-header-radius, 0);
  }

  .icon {
    display: none;
  }

  .title {
    padding: 0.5rem;
  }

  &.hover,
  &.active {
    display: flex;
  }

  min-height: 0;

  > .items {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.buttons {
  gap: 0.5rem;
  .icons {
    background-color: var(--bs-nav-menu-icons-color, var(--bs-tertiary-bg));
  }
}

// accordion-mode

.nav.mode-accordion.show-icons {
  .menus {
    display: none;
  }
}

.nav.mode-accordion.show-overlay,
.nav.mode-accordion.show-icons {
  position: relative;
  overflow: unset;
}

.nav.mode-accordion.show-overlay,
.nav.mode-accordion.show-icons .accordion.hover {
  .menus {
    display: flex;
    border: 1px solid var(--bs-border-color);
    box-shadow: var(--bs-box-shadow);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: var(--bs-nav-menu-overlay-zIndex, 1000);
  }
}

// end accordion mode

// icons mode

.menusWrapper {
  display: flex;
  flex: 1;
}

.nav.mode-icons {
  overflow: unset;
  &.show-icons {
    .menus {
      display: none;
    }
  }
}

.nav.mode-icons.show-overlay,
.nav.mode-icons.show-icons {
  position: relative;
  overflow: unset;
}

.nav.mode-icons.show-icons {
  .buttons {
    gap: 0;
  }
}

.nav.mode-icons .buttons.hover {
  .menus {
    box-shadow: var(--bs-box-shadow);
  }
}

.nav.mode-icons.show-overlay,
.nav.mode-icons.show-icons .buttons.hover {
  & {
    gap: 0.5rem;
  }

  .menusWrapper {
    display: flex;
    position: relative;
  }
  .menus {
    display: flex;
    position: absolute;
    border: 1px solid var(--bs-border-color);
    box-shadow: var(--bs-box-shadow);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: var(--bs-nav-menu-overlay-zIndex, 1000);
  }
}

// end icons mode

.nav.show-none {
  display: none;
}
