.active {
  color: #1e2125 !important;
  background-color: #e9ecef !important;
}

.item:hover {
  color: unset;
  background-color: unset;
}

.submenu + div {
  filter: unset !important; /* Disable popper filter */
}

.menu:focus {
  outline: 0px solid transparent;
}
